<%= form_with(model: translation, local: true) do |form| %>
  <% if translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.label :arabic_translation %>
    <%= form.text_field :arabic_translation %>
  </div>

  <div class="field">
    <%= form.label :english_translation %>
    <%= form.text_field :english_translation %>
  </div>

  <div class="field">
    <%= form.select :controller,options_for_select([['cards','cards'],['cards_logs','cards_logs'],['cards_categories','cards_categories'],
    ['user_wallets','user_wallets'],['wallets_transfer_ratios','wallets_transfer_ratios'],['money_ops','money_ops'],['media','media'],
    ['notifications_settings','notifications_settings'],['pages','pages'],['sms_logs','sms_logs'],['addresses','addresses']]),  {:include_blank => 'select controller'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
