
<%= form_with(model: @wallets_transfer_ratio, local: true) do |form| %>
    <% if @wallets_transfer_ratio.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@wallets_transfer_ratio.errors.count, "error") %> prohibited this wallets_transfer_ratio from being saved:</h2>
  
        <ul>
        <% @wallets_transfer_ratio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <h3> Key: <%= @wallets_transfer_ratio.key %></h3>
  
    <div class="field">
      <%= form.label :value %>
      <%= form.text_field :value %>
    </div>
  
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

<%= link_to 'Back', wallets_transfer_ratios_path %>
