<h1>User Notifications Setting</h1>

<%= form_with(model: @notifications_setting, local: true) do |form| %>
    <% if @notifications_setting.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@notifications_setting.errors.count, "error") %> prohibited this notifications_setting from being saved:</h2>
  
        <ul>
        <% @notifications_setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <p>
    <strong>المستخدم:</strong>
      <%= @notifications_setting.user_id %>
    </p>
    
    <h3>تنبيهات المعاملات </h3>
  
    <div class="field">
    <%= "معاملات الارسال ولالاستقبال والسحب" %>
      <% if @notifications_setting.money_transactions == 3 %>
      <%= form.check_box :money_transactions_mail ,checked: true%>Email <%= form.check_box :money_transactions_sms ,checked: true %>SMS
      <% elsif @notifications_setting.money_transactions == 2 %>
      <%= form.check_box :money_transactions_mail %>Email <%= form.check_box :money_transactions_sms ,checked: true %>SMS
      <% elsif @notifications_setting.money_transactions == 1 %>
      <%= form.check_box :money_transactions_mail  ,checked: true%>Email <%= form.check_box :money_transactions_sms %>SMS
      <% elsif @notifications_setting.money_transactions == 0 %>
      <%= form.check_box :money_transactions_mail %>Email <%= form.check_box :money_transactions_sms %>SMS
      <% end %>
    </div>
  
    <div class="field">
    <%= "المعاملات المعلقة" %>
    <% if @notifications_setting.pending_transactions == 3 %>
    <%= form.check_box :pending_transactions_mail ,checked: true%>Email <%= form.check_box :pending_transactions_sms ,checked: true %>SMS
    <% elsif @notifications_setting.pending_transactions == 2 %>
    <%= form.check_box :pending_transactions_mail %>Email <%= form.check_box :pending_transactions_sms ,checked: true %>SMS
    <% elsif @notifications_setting.pending_transactions == 1 %>
    <%= form.check_box :pending_transactions_mail  ,checked: true%>Email <%= form.check_box :pending_transactions_sms %>SMS
    <% elsif @notifications_setting.pending_transactions == 0 %>
    <%= form.check_box :pending_transactions_mail %>Email <%= form.check_box :pending_transactions_sms %>SMS
    <% end %>
    </div>
  
    <div class="field">
    <%= "تحديثات المعاملات الجارية" %>
    <% if @notifications_setting.transactions_updates == 3 %>
    <%= form.check_box :transactions_updates_mail ,checked: true%>Email <%= form.check_box :transactions_updates_sms ,checked: true %>SMS
    <% elsif @notifications_setting.transactions_updates == 2 %>
    <%= form.check_box :transactions_updates_mail %>Email <%= form.check_box :transactions_updates_sms ,checked: true %>SMS
    <% elsif @notifications_setting.transactions_updates == 1 %>
    <%= form.check_box :transactions_updates_mail  ,checked: true%>Email <%= form.check_box :transactions_updates_sms %>SMS
    <% elsif @notifications_setting.transactions_updates == 0 %>
    <%= form.check_box :transactions_updates_mail %>Email <%= form.check_box :transactions_updates_sms %>SMS
    <% end %>
    </div>
          
    <h3> تنبيهات الدعم الفنى</h3>
    <div class="field">
      <%= "تحديثات تذاكر الدعم" %>
      <% if @notifications_setting.help_tickets_updates == 3 %>
      <%= form.check_box :help_tickets_updates_mail ,checked: true%>Email <%= form.check_box :help_tickets_updates_sms ,checked: true %>SMS
      <% elsif @notifications_setting.help_tickets_updates == 2 %>
      <%= form.check_box :help_tickets_updates_mail %>Email <%= form.check_box :help_tickets_updates_sms ,checked: true %>SMS
      <% elsif @notifications_setting.help_tickets_updates == 1 %>
      <%= form.check_box :help_tickets_updates_mail  ,checked: true%>Email <%= form.check_box :help_tickets_updates_sms %>SMS
      <% elsif @notifications_setting.help_tickets_updates == 0 %>
      <%= form.check_box :help_tickets_updates_mail %>Email <%= form.check_box :help_tickets_updates_sms %>SMS
      <% end %>
    </div>
  
    <div class="field">
      <%= "الردود الجديدة على تذاكر الدعم" %>
      <% if @notifications_setting.tickets_replies == 3 %>
      <%= form.check_box :tickets_replies_mail ,checked: true%>Email <%= form.check_box :tickets_replies_sms ,checked: true %>SMS
      <% elsif @notifications_setting.tickets_replies == 2 %>
      <%= form.check_box :tickets_replies_mail %>Email <%= form.check_box :tickets_replies_sms ,checked: true %>SMS
      <% elsif @notifications_setting.tickets_replies == 1 %>
      <%= form.check_box :tickets_replies_mail  ,checked: true%>Email <%= form.check_box :tickets_replies_sms %>SMS
      <% elsif @notifications_setting.tickets_replies == 0 %>
      <%= form.check_box :tickets_replies_mail %>Email <%= form.check_box :tickets_replies_sms %>SMS
      <% end %>
    </div>
  
    <h3>تنبيهات حماية حسابك</h3>
    <div class="field">
      <%= "تسجيل الدخول على حسابك" %>
      <% if @notifications_setting.account_login == 3 %>
      <%= form.check_box :account_login_mail ,checked: true%>Email <%= form.check_box :account_login_sms ,checked: true %>SMS
      <% elsif @notifications_setting.account_login == 2 %>
      <%= form.check_box :account_login_mail %>Email <%= form.check_box :account_login_sms ,checked: true %>SMS
      <% elsif @notifications_setting.account_login == 1 %>
      <%= form.check_box :account_login_mail  ,checked: true%>Email <%= form.check_box :account_login_sms %>SMS
      <% elsif @notifications_setting.account_login == 0 %>
      <%= form.check_box :account_login_mail %>Email <%= form.check_box :account_login_sms %>SMS
      <% end %>
    </div>
  
    <div class="field">
      <%= "عند تفعيل & إلغاء تفعيل اعدادات التحقق من خطوتين" %>
      <% if @notifications_setting.change_password == 3 %>
      <%= form.check_box :change_password_mail ,checked: true%>Email <%= form.check_box :change_password_sms ,checked: true %>SMS
      <% elsif @notifications_setting.change_password == 2 %>
      <%= form.check_box :change_password_mail %>Email <%= form.check_box :change_password_sms ,checked: true %>SMS
      <% elsif @notifications_setting.change_password == 1 %>
      <%= form.check_box :change_password_mail  ,checked: true%>Email <%= form.check_box :change_password_sms %>SMS
      <% elsif @notifications_setting.change_password == 0 %>
      <%= form.check_box :change_password_mail %>Email <%= form.check_box :change_password_sms %>SMS
      <% end %>
    </div>
  
    <div class="field">
      <%= "تغيير كلمة المرور" %>
      <% if @notifications_setting.verifications_setting == 3 %>
      <%= form.check_box :verifications_setting_mail ,checked: true%>Email <%= form.check_box :verifications_setting_sms ,checked: true %>SMS
      <% elsif @notifications_setting.verifications_setting == 2 %>
      <%= form.check_box :verifications_setting_mail %>Email <%= form.check_box :verifications_setting_sms ,checked: true %>SMS
      <% elsif @notifications_setting.verifications_setting == 1 %>
      <%= form.check_box :verifications_setting_mail  ,checked: true%>Email <%= form.check_box :verifications_setting_sms %>SMS
      <% elsif @notifications_setting.verifications_setting == 0 %>
      <%= form.check_box :verifications_setting_mail %>Email <%= form.check_box :verifications_setting_sms %>SMS
      <% end %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

<%= link_to 'Back', notifications_settings_path %><br><br>

<% if @notifications_setting.user_id != 0 %>
<a title="Reture Defualt Notification Setting" onclick="return confirm_click();" href="/add_defualt_notifications?id=<%= @notifications_setting.id %>"><i class="icon-remove-sign">Reture Defualt Notification Setting</i></a>
<% end %>

<script type="text/javascript">
function confirm_click()
{
return confirm("Are you sure ?");
}
</script>
