<%= form_with(model: user_wallet, local: true) do |form| %>
  <% if user_wallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_wallet.errors.count, "error") %> prohibited this user_wallet from being saved:</h2>

      <ul>
      <% user_wallet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :wallet_status %>
    <%= form.select :status,options_for_select([['Disabled',0],['Enabled',1]]),  {:include_blank => 'select status'} %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
