<p id="notice"><%= notice %></p>

<h1><%= t('pages.pages') %></h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Active</th>
      <th>Content</th>
      <th>Title</th>
      <th>Slug</th>
      <th>Description</th>
      <th>Keywords</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.order %></td>
        <td><%= page.active %></td>
        <td><%= page.content %></td>
        <td><%= page.title %></td>
        <td><%= page.slug %></td>
        <td><%= page.description %></td>
        <td><%= page.keywords %></td>
        <td><%= page.admin_id %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
<br>
<h4><%= link_to 'Translations', translations_path %></h4>

<% if I18n.locale.to_s == "ar" %>
  <a href="/change_locale?locale=en"><i></i> English</a>
<% else %>
  <a href="/change_locale?locale=ar"><i></i> عربي</a>
<% end %>
