<p id="notice"><%= notice %></p>

<p>
  <strong>User-ID:</strong>
  <%= @cards_log.user_id %>
</p>

<p>
  <strong>Card-ID:</strong>
  <%= @cards_log.card_id %>
</p>

<p>
  <strong>Action-type:</strong>
  <% if @cards_log.action_type == 1 %>
  <td><%= "created" %></td>
  <% elsif @cards_log.action_type == 2 %>
  <td><%= "charged" %></td>
  <% elsif @cards_log.action_type == 3 %>
      <td><%= "deleted" %></td>
  <% end %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @cards_log.ip %>
</p>


<%= link_to 'Back', cards_logs_path %>
