<h1>Post in Facebook</h1>

<%= form_tag  url_for(:controller => 'media', :action => 'facebook_post'), :method => 'post' do %>

    <h4><%= t('Post Content') %></h4>
    <%= text_area_tag :message %>


    <div style="margin-top:20px;">
        <button type="submit" ><%= t('Send Now') %> </button>
    </div>

<% end %>