<%= form_with(model: money_op, local: true) do |form| %>
  <% if money_op.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(money_op.errors.count, "error") %> prohibited this money_op from being saved:</h2>

      <ul>
      <% money_op.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.select :optype,options_for_select([['Sent',1],['Receive',2]]),  {:include_blank => 'select type'} %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :payment_gateway %>
    <%= form.number_field :payment_gateway %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status,options_for_select([['Pending',0],['Compeleted',1]]),  {:include_blank => 'select status'} %>
  </div>

  <div class="field">
    <%= form.label :payment_date %>
    <%= form.datetime_select :payment_date %>
  </div>

  <div class="field">
    <%= form.label :paymentid %>
    <%= form.number_field :payment_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
