<p id="notice"><%= notice %></p>

<p>
  <strong>Operaion id:</strong>
  <%= @money_op.opid %>
</p>

<p>
  <strong>Type:</strong>
  <% if @money_op.optype == 1 %>
  <td><%= "Sent" %></td>
  <% elsif @money_op.optype == 2 %>
  <td><%= "Receive" %></td>
  <% end %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @money_op.amount %>
</p>

<p>
  <strong>Payment gateway:</strong>
  <%= @money_op.payment_gateway %>
</p>

<p>
  <strong>Status:</strong>
  <% if @money_op.status == 0 %>
  <td><%= "Pending" %></td>
  <% elsif @money_op.status == 1 %>
  <td><%= "Compeleted" %></td>
  <% end %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @money_op.payment_date %>
</p>

<p>
  <strong>Payment id:</strong>
  <%= @money_op.payment_id %>
</p>

<p>
  <strong>User id:</strong>
  <%= @money_op.user_id %>
</p>

<!-- <%# link_to 'Edit', edit_money_op_path(@money_op) %> -->
<%= link_to 'Back', money_ops_path %>
